@use "../../imports/themeImporter" as *;

.moon-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
  height: 600px; /* fixed height */
  background-color: linear-gradient(
    to bottom,
    get-theme-color(dark, primary, 10),
    get-theme-color(dark, tertiary, 20),
    get-theme-color(dark, neutral, 12),
    get-theme-color(dark, neutral, 6)
  ); /* black night */
  overflow: visible;
  user-select: none;
}

.moon-image {
  position: absolute;
  pointer-events: none;
  user-select: none;
  border-radius: 50%;
  background-color: transparent;
}
