// Custom Theming for Angular Material
@use "@angular/material" as mat;
@use "./app/shared/components/theme/dark_theme-colors" as zenDark;
@use "./app/shared/components/theme/light-theme-colors" as zenLight;

@use "./app/shared/imports/themeImporter" as *;

// ✅ Define your theme using your palettes
$zenmate-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: zenDark.$primary-palette,
      tertiary: zenDark.$tertiary-palette,
    ),
  )
);

// ✅ Wrap it inside a selector (like .dark-theme)
.dark-theme {
  @include mat.all-component-themes($zenmate-dark-theme);
}

html,
body,
#app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
